<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <!-- Console target with structured JSON output -->
    <target xsi:type="Console" 
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}|TraceId=${aspnet-TraceIdentifier}|CorrelationId=${mdlc:item=CorrelationId}" />

    <!-- JSON Console for production/container environments -->
    <target xsi:type="Console"
            name="jsonConsole">
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="traceId" layout="${aspnet-TraceIdentifier}" />
        <attribute name="correlationId" layout="${mdlc:item=CorrelationId}" />
        <attribute name="machineName" layout="${machinename}" />
        <attribute name="applicationName" layout="${processname}" />
      </layout>
    </target>

    <!-- File target for all logs -->
    <target xsi:type="File"
            name="allfile"
            fileName="${logDirectory}/all-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />

    <!-- File target for errors only -->
    <target xsi:type="File"
            name="errorfile"
            fileName="${logDirectory}/errors-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <!-- Allow hosting lifetime logs (application started, stopped, etc.) -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console,allfile" />
    
    <!-- Skip non-critical Microsoft logs -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    
    <!-- All logs to console and file -->
    <logger name="*" minlevel="Info" writeTo="console,allfile" />
    
    <!-- Errors to separate file -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>
